/* Defaults */

.default-page-title {
	-fx-font-family: Roboto;
	-fx-font-weight: bold;
	-fx-font-size: 24;
}

.default-page {	
	-fx-base: #FFFFFF; /* Default Background Color */
	-fx-background-color: -fx-base;
	-fx-border-radius: 36;
}

/* Side-Menu */ 

.side-menu, .side-menu--mini, .side-menu__logo, .side-menu__button {
	-fx-background-color: #002531;
	-fx-pref-width: 300;
}

.side-menu--mini {
	-fx-pref-width: 104;
}

.side-menu__logo {
	-fx-pref-height: 280;
}

.side-menu__logo.side-menu--mini {
	-fx-pref-height: 280;
}

.side-menu__button {
	-fx-background-color: rgba(255, 255, 255 , 0);
	-fx-text-fill: rgba(255, 255, 255 , 0.88);
	
	-fx-font-size: 20px;
	-fx-font-family: Robot;
	
	-fx-icon-color: rgba(255, 255, 255 , 0.88);
	-fx-graphic-text-gap: 16;
	
	-fx-pref-height: 60;
	-fx-alignment:  baseline-left;
}

.side-menu__button.side-menu--mini {
	-fx-alignment:  baseline-center;
}

.side-menu__button:hover {
	-fx-background-color: rgba(255, 255, 255 , 0.4);
}

/* Plugin-Menu */ 

.plugin-menu__table {
	-fx-background-color: rgba(0, 0, 0, 0.05);
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-boder-color: #000000;
	-fx-border-radius: 5;
}

.plugin-menu__button {
	-fx-background-color: -fx-base;
	-fx-border-width: 0.09;
	-fx-border-style: solid;
	-fx-boder-color: #000000;
	-fx-border-radius: 5;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 1, 2);
	-fx-graphic-text-gap: 20;
	-fx-padding: 10;
}

.plugin-menu__button:hover {
	-fx-border-width: 1;
	-fx-border-radius: 5;
	-fx-border-insets: -2;
}

#plugin-menu__button--add {          
    -fx-graphic: url("../img/add_box.png");
    -fx-content-display:left;   
}

#plugin-menu__button--remove {          
    -fx-graphic: url("../img/remove_box.png"); 
    -fx-content-display:left; 
}
