/* Defaults */
* {
	-fx-base-color: #FFFFFF; /* Default Background Color */
	-fx-root-color: #F0F3F7;
	-fx-base-icon-color: #757575;
	-fx-disabled-opacity: 0.4;
}

.ikonli-font-icon {
	-fx-icon-color: -fx-base-icon-color;
}


.label {
	-fx-font-family: "Roboto";
	-fx-font-size: 18;
}

.scroll-pane {
	-fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.text-field:error {
  -fx-text-inner-color: red ;
  -fx-prompt-text-fill: rgba(255,0,0,0.6);
}

.default-page-title {
	-fx-font-family: "Roboto";
	-fx-font-weight: bold;
	-fx-font-size: 24;
	-fx-alignment:  baseline-left;
}

.default-root {
	-fx-root-color: -fx-base-color;
	-fx-padding: 16 16 16 16;
}

.default-page {
	-fx-background-color: -fx-base-color;
	-fx-background-radius: 34;

	-fx-border-radius: 34;

	-fx-padding: 72 20 20 144;
}

.default-page__scroll {
	-fx-fit-to-width: true;
}

.default-page__content {
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.default-button {
	-fx-alignment:  center;

	-fx-font-size: 18;

	-fx-background-color: -fx-base-color;

	-fx-border-color: black;
	-fx-border-width: 0.5;
	-fx-border-radius: 5;

	-fx-background-radius: 5;
}

.default-button--shadow {

	-fx-background-color: -fx-base-color;

	-fx-border-width: 0.1;
	-fx-border-style: solid;
	-fx-boder-color: #000000;
	-fx-border-radius: 5;

	-fx-background-radius: 5;

	-fx-font-size: 18;

	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 1, 2);

	-fx-graphic-text-gap: 24;

	-fx-padding: 8;
}

.default-button--shadow:hover {
	-fx-border-radius: 5;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 2, 4);
}

.default-choice-box--shadow {
	-fx-background-color: -fx-base-color;

	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 1, 2);

	-fx-border-radius: 5px;
	-fx-border-width: 0.05px;
	-fx-border-style: solid;
	-fx-boder-color:  rgba(0, 0, 0, 0.47);

	-fx-background-radius: 5;

	-fx-pref-width: 200px;
}

.default-choice-box--shadow .context-menu {
	-fx-background-color: -fx-base-color;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 1, 2);
}

.default-choice-box--shadow .menu-item > .label {
	-fx-pref-width: 152px;
}

.default-choice-box--shadow .menu-item:focused { -fx-background-color: #0078D7; }


.default-choice-box--shadow .menu-item:focused > .label { -fx-text-fill: white; }

/* Side-Menu */

.side-menu, .side-menu--mini, .side-menu__logo, .side-menu__button {
	-fx-background-color: #002531;
	-fx-pref-width: 248;
}

.side-menu--mini {
	-fx-pref-width: 104;
}

.side-menu__logo {
	-fx-pref-height: 280;
}

.side-menu__logo.side-menu--mini {
	-fx-pref-height: 280;
}

.side-menu__button {
	-fx-background-color: rgba(255, 255, 255 , 0);
	-fx-text-fill: rgba(255, 255, 255 , 0.88);

	-fx-font-size: 20px;
	-fx-font-family: Robot;

	-fx-icon-color: rgba(255, 255, 255 , 0.88);
	-fx-graphic-text-gap: 16;

	-fx-pref-height: 60;
	-fx-alignment:  baseline-left;
}

.side-menu__button--selected {
	-fx-background-color: rgba(255, 255, 255 , 0.3);
}

.side-menu__button.side-menu--mini {
	-fx-alignment:  baseline-center;
}

.side-menu__button:hover {
	-fx-background-color: rgba(255, 255, 255 , 0.4);
}

.side-menu__button:selected {
	-fx-background-color: rgba(255, 255, 255 , 0.4);
}

/*IndexPage-Menu*/

.index-page {
	-fx-background-color: -fx-root-color;
	-fx-padding: 88 36 0 160;
}

.index-page__header__container {
	/* -fx-max-width: 960;*/
}

.index-page__header__spring {
	-fx-min-width: 40;
}

.index-page__top__spring {
	-fx-min-height: 16;
}

.index-page__header__control__spring {
	-fx-pref-width: 24;
}

.index-page__scroll-pane {
	-fx-fit-to-width: true;
}

.index-page .combo-box {
	-fx-font-size: 18;
}

.index-page__header .text-field {
	-fx-font-size: 18;

	-fx-border-width: 0.5;
	-fx-border-radius: 0 5 5 0;

	-fx-background-color: #FAFAFA;
	-fx-background-radius: 5 0 0 5;

	-fx-pref-height: 48;

	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 1, 2);
}

.index-page__header__search-label {
	-fx-background-color: #FAFAFA;
	-fx-background-radius: 0 5 5 0;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 1, 2);
	-fx-padding: 0 12 0 12;
}

.index-page__procedures-container {
	-fx-background-color: -fx-root-color;

	-fx-pref-columns: 3;

	-fx-alignment:  top-left;

	-fx-vgap: 24px;
	-fx-hgap: 24px;
}

.index-page__procedure-tile {

	-fx-font-size: 18;

	-fx-padding: 8;

	-fx-background-color: -fx-base-color;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 2, 4);
	-fx-background-radius: 24;
	-fx-alignment: center;
}

.index-page__procedure-tile {

	-fx-font-size: 18;

	-fx-padding: 8;

	-fx-background-color: -fx-base-color;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 2, 4);
	-fx-background-radius: 24;
	-fx-alignment: center;
}

.index-page__procedure-tile:hover {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 12, 0, 4, 5);
}

.index-page__procedure-tile--label {
	-fx-wrap-text: true;
	-fx-text-alignment: justify;
}

/*Procedure Button */

.procedure__button__icon {
	-fx-alignment: center;
}

.procedure__button__icon__container {
	-fx-padding: 32;
}

.procedure__button .seperator {

}

.index-page__procedure-tile .label {
	-fx-padding: 16;
}

/*Network-Menu*/

.network__header__spring {
	-fx-min-height: 24;
	-fx-max-height: 40;
}

.network__controll-list__spring {
	-fx-min-height: 24;
	-fx-pref-height: 100;
}

.network__controll_spring {
	-fx-pref-height: 48;
}

.network__controll__button__spring {
	-fx-pref-width: 40;
}

.network__controll__connect_spring {
	-fx-pref-height: 40;
}

.network__controll__input {
	-fx-max-width: 640;
}

.network__controll__input .network__controll__input__label, .network__controll__input .network__controll__input__text-field {
	-fx-font-size: 18;

	-fx-border-color: black;
	-fx-border-width: 0.5;

	-fx-pref-height: 48;
}

.network__controll__input__label {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 5 0 0 5;

	-fx-border-style: solid none solid solid;
	-fx-border-radius: 5 0 0 5;

	-fx-label-padding: 0 16 0 16;
}

.network__controll__input__text-field {
	-fx-background-color: #FAFAFA;
	-fx-background-radius: 0 5 5 0;

	-fx-border-radius: 0 5 5 0;
}

.network__controll__input__top {
	-fx-border-width: 0.5 0.5 0.25 0.5;
}

.network__controll__input__bottom {
	-fx-border-width: 0.25 0.5 0.5 0.5;
}


.network__controll__input__top.network__controll__input__label {
	-fx-background-radius: 5 0 0 0;
	-fx-border-radius: 5 0 0 0;
}

.network__controll__input__bottom.network__controll__input__label {
	-fx-background-radius: 0 0 0 5;
	-fx-border-radius: 0 0 0 5;
}

.network__controll__input__top.network__controll__input__text-field {
	-fx-background-radius: 0 5 0 0;
	-fx-border-radius: 0 5 0 0;
}

.network__controll__input__bottom.network__controll__input__text-field {
	-fx-background-radius: 0 0 5 0;
	-fx-border-radius: 0 0 5 0;
}

/* Settings-Menu */

.settings__spring {
	-fx-pref-height: 48;
}

.settings__setting__spring {
	-fx-pref-height: 32;
}

.settings__setting__input__spring {
	-fx-pref-width: 8;
}

.settings__setting__input .label, .settings__setting__input .text-field {
	-fx-font-size: 18;

	-fx-border-color: black;
	-fx-border-width: 0.5;

	-fx-pref-height: 48;
}

.settings__setting__input .label {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 5 0 0 5;

	-fx-border-style: solid none solid solid;
	-fx-border-radius: 5 0 0 5;

	-fx-label-padding: 0 16 0 16;
}

.settings__setting__input .text-field {
	-fx-background-color: #FAFAFA;
	-fx-background-radius: 0 5 5 0;

	-fx-border-radius: 0 5 5 0;
}


/* Plugin-Menu */



.plugin__spring {
	-fx-pref-height: 40;
}

.plugin__button__container {
	-fx-max-width: 1000;
	-fx-alignment:  center-right;
}

.plugin__button__spring {
	-fx-pref-width: 32;
}

.plugin__table {
	-fx-background-color: rgba(0, 0, 0, 0.05);

	-fx-border-width: 0.5;
	-fx-border-style: solid;
	-fx-boder-color: #000000;
	-fx-border-radius: 5;

	-fx-max-width: 1000;
}

.plugin__table .label {
	-fx-font-size: 12;
}

.plugin__content .table-view .column-header, .plugin__content .table-view .filler {
    -fx-background-color: #FBFBFB;
}

.plugin__check-box-cell:disabled .box {
    -fx-opacity: -fx-disabled-opacity;
}

/* Help-Menu */

.help__content {
	-fx-max-width: 640;
}

.help__content__spring {
	-fx-pref-height: 40;
}

#help__description {
	-fx-font-size: 18;
	-fx-wrap-text: true;
	-fx-max-width: 640;
}

.help__faq__seperator {
	-fx-max-width: 680;
}

.help__faq__title  {
	-fx-background-color: -fx-base-color;
	-fx-font-size: 18;
	-fx-font-weight: bold;
}
.help-page__faq__element > .title  {
	-fx-background-color: -fx-base-color;
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.help-page__faq__element > .content > TextFlow {
	-fx-background-color: -fx-base-color;
	-fx-padding: 5px 30px 5px 30px;
	-fx-font-size: 16;
	-fx-wrap-text: true;
}

/* Import-Menu */

.import__container {
	-fx-alignment: center;
}

.import__container__spring {
	-fx-pref-width: 40;
}

.import__container .default-button--shadow {
	-fx-content-display: top;


	-fx-max-width: 400;
	-fx-max-height: 400;

	-fx-padding: 16;
}

.import__icon {
	-fx-icon-size: 80;
}

/* Input-Area */

.input-area .text-area {
	-fx-wrap-text: true;
}

.input-area__controls {
	-fx-alignment: center-right;
}

/* Overview */

.overview__container {
	-fx-padding: 16 88 16 88;
	
	-fx-min-height: 136;
	
	-fx-background-color: #ccd4d9;
}

.overview__scrollbar {
	-fx-background-color: -fx-root-color;
	
	-fx-border-radius: 4;
	-fx-background-radius: 4;
	
	-fx-fit-to-height: true;
}

.overview__box {
	-fx-padding: 16 40 16 40;
	
	-fx-alignment: center-left;
	-fx-spacing: 32;
}

.overview__item {
	-fx-background-color: -fx-base-color;

	-fx-border-width: 0.1;
	-fx-border-style: solid;
	-fx-boder-color: black;
	-fx-border-radius: 20;

	-fx-background-radius: 20;

	-fx-font-size: 18;
	
	-fx-content-display: center;
}

.overview__item:hover {
	-fx-effect: dropshadow(gaussian, green, 10, 0, 0, 0);
}

/*Chainlink */

.chainlink {
	-fx-background-color: -fx-base-color;
	-fx-alignment: top-center;
}

.chainlink__content_container {
	-fx-padding: 0 40 0 40;
}

.chainlink__spring {
	-fx-min-height: 40;
}

.chainlink__scrollbar {
	-fx-fit-to-width: true;
}

.chainlink__content__scrollbar {
	-fx-alignment: center;
}

.chainlink__info > .title {
	-fx-background-color: transparent;
	-fx-border-color: black;
	-fx-border-width: 0.1 0 0.1 0;
}

.chainlink__hidden-label {
    -fx-pref-width: 24px;
    -fx-min-width: 24px;
    -fx-max-width: 24px;
    -fx-font-family: "Monospaced";
    -fx-font-size: 24;
    -fx-wrap-text: true;
    -fx-text-alginment: center;
    -fx-line-spacing: -5;
}

/*Edit */

.editor-pane {
    -fx-background-color: -fx-root-color;
    -fx-background-radius: 5;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

/*Chain layout */

.chain__scroll-pane {
	-fx-fit-to-height: true;
}

/* Default Plugin */

.matrix__button {
	-fx-background-color: -fx-base-color;

	-fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;

	-fx-background-radius: 0;

	-fx-font-size: 18;
	
	-fx-text-alignment: center;

	-fx-padding: 8;
}
